h1, h2, h3, h4, h5, p, a, li, ul {
	text-align: left;
}

.footer-right {
	position: fixed;
    width: 80%;
    left: 50%;
    top: 95%;
    font-size:50%;
}

.fa-twitter {
	color: #1DA1F2;
}

img {
	width: 80%;
}

.blue {
	color: midnightblue;
}

.red {
	color:maroon;
}

.green {
	color:olivedrab;
}

.blue-underline {
	border-bottom: 5px solid blue;
}

.red-underline {
	border-bottom: 5px solid red;
}

.green-underline {
	border-bottom: 5px solid green;
}