.reveal .slides {
	text-align: left;
}

.reveal h1 {
	font-size: 2.5em;
}

.footer-right {
	text-align: center;
	position: fixed;
    width: 75%;
    left: 50%;
    top: 95%;
    font-size:50%;
}

.fa-twitter {
	color: #1DA1F2;
}

.caption {
	font-size: 0.5em;
}