h1, h2, h3, h4, h5, p, a, li, ul {
	text-align: left;
}

.reveal h1 {
	font-size: 2.5em;
}

.footer-right {
	position: fixed;
    width: 75%;
    left: 50%;
    top: 95%;
    font-size:50%;
}

.fa-twitter {
	color: #1DA1F2;
}

img {
	width: 80%;
}

.caption {
	font-size: 0.5em;
}